In [28]:
import time
import nltk
import pandas
from stop_words import get_stop_words
import multiprocessing as mp
import re
from tqdm import tqdm

nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
stop_words = get_stop_words('en')

[nltk_data] Downloading package punkt to C:\Users\Drew
[nltk_data]     Meseck\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Drew Meseck\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [29]:
df = pandas.read_csv('data/company_review_raw.csv', engine= 'python')

In [30]:
df.head()

,id,company,pros,cons,overall-ratings,work-balance-stars,culture-values-stars,career-opportunities-stars,comp-benefit-stars,senior-management-stars
0,1,google,People are smart and friendly,Bureaucracy is slowing things down,5,4.0,5,5.0,4.0,5.0
1,2,google,"1) Food, food, food. 15+ cafes on main campus ...",1) Work/life balance. What balance? All those ...,4,2.0,3,3.0,5.0,3.0
2,3,google,"* If you're a software engineer, you're among ...","* It *is* becoming larger, and with it comes g...",5,5.0,4,5.0,5.0,4.0
3,4,google,You can't find a more well-regarded company th...,I live in SF so the commute can take between 1...,5,2.0,5,5.0,4.0,5.0
4,5,google,Google is a world of its own. At every other c...,"If you don't work in MTV (HQ), you will be giv...",5,5.0,5,5.0,5.0,5.0

In [31]:
df['text'] = df.pros + ' ' + df.cons

In [32]:
def tokenize_data(text):
    text = text.lower()
    text = re.sub('[!@#$%^&*-+=_]', '', text)
    text = nltk.word_tokenize(text)
    text = [word for word in text if word not in stop_words]
    text = [word for word in text if len(word) > 2]
    #pbar.update(1)
    return nltk.pos_tag(text)

In [33]:
sample_text = df.text[0]
print(tokenize_data(sample_text))

[('people', 'NNS'), ('smart', 'VBP'), ('friendly', 'JJ'), ('bureaucracy', 'NN'), ('slowing', 'VBG'), ('things', 'NNS')]

In [34]:
def tknz(col):
    return [tokenize_data(row) for row in col]

In [35]:
df['tokens'] = tknz(df.text)

In [36]:
df.to_csv("data/train.csv")